@import url("https://fonts.googleapis.com/css2?family=Changa:wght@200&display=swap");
.App {
  font-family: "Changa", sans-serif;
  overflow-x: hidden;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.col-md-4 button {
  margin-right: 70px;
  margin-left: -20px;
  margin-bottom: 30px;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 6px;
  background-color: rgb(7, 97, 97);
  color: white;
  box-shadow: 4px 4px gray;
  transition: 0.2s all ease-in;
  margin-block: 60px;
  padding-left: 20px;
  padding-right: 20px;
}
.col-md-4 button:hover {
  box-shadow: 0 0;
  transform: translate(4px, 4px);
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  font-size: calc(10px + 2vmin);
}
@media screen and (max-width: 480px) {
  .col-md-4 button {
    margin-left: 0;
    margin-right: 0px;
  }
  .col-md-4 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 40px;
  }
}
